<%-include('partials/header.ejs')  %>
<main class="mb-4">
    <div class="container my-5">
        <div id="blog-section" class="grid-container custom-width mx-auto">
            <%blogs.map((e,i) =>{%>
                <%if(e.description && e.description.trim()){%>
                    <div class="card mb-3 mb-md-0 rounded-0 h-100">
                        <a href="/blog/<%= e.id %>" target="_blank">
                            <img src="<%=e.thumbNail%>" class="card-img-top rounded-0" alt="<%=e.title%>" height="200" loading="lazy" style="object-fit: cover;">
                        </a>
                        <div class="card-body">
                            <a href="/blog/<%= e.id %>" class="card-link" target="_blank">
                                <h5 class="card-title trirong-light-italic mb-0"><%= e.title.length > 25? e.title.slice(0,e.title.lastIndexOf(" ",40))+"..." : e.title %></h5>
                            </a>
                            <small class=" text-secondary"><%=e.date %></small>
                            <p class="card-text trirong-light-italic mt-2"><%= e.description.length > 100? e.description.slice(0,e.description.lastIndexOf(" ",100))+"..." : e.description %></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                <%}%>
            <%})%>
        </div>
        <div class="paginatio-container w-100 d-flex align-items center justify-content-center pt-5">
            <nav aria-label="Page navigation example" class="mx-auto">
                <ul class="pagination" data-pages="<%=pages%>" data-current="<%=currentPage%>">
                  <li class="page-item" data-page="<%=currentPage %>">
                    <span class="page-link" aria-label="Previous">
                        <i class="bi bi-caret-left-fill"></i>
                    </span>
                  </li>
                  <li class="page-item" data-page="<%=currentPage+1 %>">
                    <span class="page-link" aria-label="Next">
                        <i class="bi bi-caret-right-fill"></i>
                    </span>
                  </li>
                </ul>
            </nav>
        </div>
    </div>
</main>
<%-include('partials/footer.ejs')  %>