<!DOCTYPE html>
<html lang="en" class="h-100" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/styles/<%=blog.design  %>.css">
    <title><%=blog.title %></title>
    <style>
      .text-primary, 
      .btn-outline-primary, 
      .btn-primary:active, 
      .btn-primary:focus,
      .btn-primary:hover{
        color: #6262ba !important;
      }

      .btn-outline-primary , 
      .btn-outline-primary:active, 
      .btn-outline-primary:focus, 
      .btn-primary:focus, 
      .btn-primary, 
      .btn-primary:active,
      .btn-primary:focus,
      .btn-outline-primary:hover, 
      .btn-primary:hover{
        border-color: #6262ba !important;
      }

      .btn-outline-primary:active,  
      .btn-primary,
      .btn-outline-primary:hover, 
      .btn-primary{
        color: white !important;
        background-color: #6262ba !important;
      }

      .btn-primary:active, 
      .btn-primary:focus,
      .btn-primary:hover{
        background-color:transparent !important;
      }
      .cursor{
        cursor: pointer;
      }
      .img-upload{
        border-style:dashed !important;
        position: relative;
        overflow: hidden;
      }

      .img-upload:active{
        border-style: solid !important;
        filter: sepia(100%) hue-rotate(200deg) brightness(0.7);
      }

      .img-upload input[type='file']{
        position: absolute;
        left: 0;
        top: 0;
        transform: scale(10);
        opacity: 0;
      }

      input[type='file']::-webkit-file-upload-button{
        cursor: pointer;
      }

      .hover-effect:active{
        cursor: pointer;
        background-color: #ededed;
      }

      .hover-effect:active h6{
        color: #262626;
      }

      .hover-effect:active small{
        color: #484848 !important;
      }

      .ql-picker-label{
        display: flex !important;
        align-items: center  !important;
        justify-content: center !important;
      }
      .ql-editor p>img{
        max-width: 50% !important;
        max-height: 200px !important;
        object-fit: cover;
      }
      button:active .ql-stroke,
      .ql-picker-label:active .ql-stroke,
      .ql-picker-item:active .ql-stroke {
          fill: none;
          stroke: #6262ba !important;
          background-color:#6262ba !important ;
        }

        .ql-picker-label:active::before,
        .ql-picker-item:active::before,
        .ql-active, .ql-selected,
        .ql-tooltip .ql-action::after{
          color: #6262ba !important;
        }

      .ql-active .ql-stroke:not(.ql-color-label),
      .ql-selected .ql-stroke {
        fill: none;
        color: #6262ba !important;
        stroke: #6262ba !important;
      }

      .ql-active .ql-fill:not(.ql-color-label),
      .ql-color-label:active,
      .ql-selected .ql-fill {
        fill: #6262ba !important;
        stroke: none;
      }

      .ql-toolbar{
        background-color: var(--bs-body-bg);
        transform: scale(1.0000001);
      }

      .ql-tooltip{
        z-index: 1000 !important;
        background-color: var(--bs-secondary-bg-subtle) !important;
        color: var(--bs-secondary-text-emphasis) !important;
      }

      .ql-toolbar .ql-picker-options{
        background-color: var(--bs-secondary-bg);
      }

      .ql-toolbar .ql-stroke {
        fill: none;
        stroke: var(--bs-body-color);
      }

      .ql-toolbar .ql-fill {
        fill: var(--bs-body-color);
        stroke: none;
      }

      .ql-toolbar .ql-picker,
      .ql-toolbar .ql-picker-options,
      .ql-editor::before{
        color: var(--bs-body-color) !important;
      }

      .swalIconBg{
        color: #dc3545 !important;
        border-color: #dc3545 !important;
      }
      @media(min-width:769px){
        .ql-picker-label:hover::before,
        .ql-picker-item:hover::before{
          color: #6262ba !important;
        }

        button:hover .ql-stroke,
        .ql-picker-label:hover .ql-stroke,
        .ql-picker-item:hover .ql-stroke  {
          fill: none;
          stroke: #6262ba !important;
        }

        button:hover .ql-fill,
        .ql-picker-label:hover .ql-fill {
          fill: #6262ba !important;
          stroke: none;
        }
      }
      .hover-effect:hover{
        cursor: pointer;
        background-color: #ededed;
      }

      .hover-effect:hover h6{
        color: #262626;
      }

      .hover-effect:hover small{
        color: #484848 !important;
      }
      .img-upload:hover{
        color: lighten(#555, 20%);
        border-style:solid !important;
        filter: sepia(100%) hue-rotate(200deg) brightness(0.7);
      }
    </style>
</head>
<body class="bg-body-tertiary d-flex flex-column vh-100" data-style="<%=blog.design%>" data-title="<%=blog.title%>" data-content="<%=blog.content %>" data-thumbNail="<%=blog.thumbNail %>">
  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body position-relative pt-0">
          <form id="updateBlog" class="needs-validation flex-grow-1 d-flex flex-column pt-3">
            <div class="row">
              <div class="col-12 order-md-2 mb-4">
                <h4 class="text-muted mb-3">Design selector</h4>
                <ul class="list-group mb-3">
                  <li class="list-group-item d-flex justify-content-between lh-condensed hover-effect" data-design ='modern'>
                    <div>
                      <h6 class="my-0">Modern</h6>
                      <small class="text-muted">Sleek, minimal, bold, clean.</small>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-condensed hover-effect" data-design ='retro'>
                    <div>
                      <h6 class="my-0">Retro</h6>
                      <small class="text-muted">Nostalgic and vintage aesthetics.</small>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-condensed hover-effect" data-design="subtle">
                    <div>
                      <h6 class="my-0">Subtle</h6>
                      <small class="text-muted">Soft, elegant, and muted tones.</small>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-condensed hover-effect" data-design="magazine">
                    <div>
                      <h6 class="my-0">Magazine</h6>
                      <small class="text-muted">Grid-based and structured.</small>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between">
                    <span>Design</span>
                    <strong></strong>
                  </li>
                </ul>
              </div>
              <div class="col-12 order-md-1 d-flex flex-column mb-5">
                <h4 class="mb-3">Heading</h4>
                  <div class="mb-3">
                    <label for="title">Title <span class="text-muted">(Required)</span></label>
                    <input class="form-control" name="title" id="title" maxlength="50" placeholder="The way cats see the world">
                    <small class="text-danger" data-field = 'title'></small>
                  </div>
                  <div class="img-upload bg-light-subtle d-flex align-items-center flex-column justify-content-center  flex-grow-1 rounded border border-secondary-subtle p-5">
                    <i class="bi bi-card-image fs-1 text-secondary"></i>
                    <div class="file-name-wrap position-relative">
                        <i class="bi bi-check fs-4 d-none text-success position-absolute" style="transform: translateY(-6px); left: 0;top:0;"></i>
                        <p id="file-content" class="small text-secondary d-inline">Thumbnail</p>
                    </div>
                  </div>
                  <small class="text-danger" data-field = 'imageFile'></small>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <small class="text-danger" data-field = 'content'></small>
                <div class="h-auto" style=" min-height: 25em;" id="editor">
                </div>
                <small class="text-muted disclaimer">Magazine pictures width and wraping are random.</small>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer" data-id="<%=blog.id%>">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="updateFormBtn" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
    <div class="background text-bg-dark mb-5 flex-shrink-0" data-bg="<%=blog.thumbNail%>">
      <div class="filter h-100 d-flex flex-column">
        <nav class="navbar navbar-expand-md navbar-dark">
          <div class="container">
            <a class="navbar-brand fancy-font" href="#">BLOG</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/blog">Other Blogs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/create-blog">Create</a>
                </li>
              </ul>
              <div id="blogId" class="d-flex" data-id="<%=blog.id %>">
                <button class="btn btn-outline-success me-2" id="updateButton" data-bs-toggle="modal" data-bs-target="#updateModal">Update</button>
                <button class="btn btn-outline-danger delete-blog">Delete</button>
              </div>
            </div>
          </div>
        </nav>
        <div class="d-flex flex-grow-1 justify-content-center align-items-center pt-3 px-3 pt-md-5 px-md-5" >
          <div class="my-3 py-3 px-5 text-center mx-auto heading">
            <h2 class="display-5" ><%=blog.title %></h2>
            <p class="lead text-shadow"><%=blog.description.length>200? blog.description.slice(0,blog.description.lastIndexOf(" ",200))+'...': blog.description %></p>
          </div>
          <div class="thumbnail-container">
              <img src="<%=blog.thumbNail%>" alt="thumbnail">
          </div>
        </div>
      </div>
    </div>
    <div id="blogContent" class=" container max-width py-5 text-wrap default-font flex-shrink-0 px-4 px-md-0">
      <small class="text-muted"><%=blog.date %></small>
      <div class="grid"><%-blog.content%></div>
    </div>
    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-body-secondary"><%=blog.date%>: <%=blog.title%></span>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/blog.js"></script>
</body>
</html>
