<%-include('partials/header.ejs')  %>
<main class="mb-4">
    <div class="px-4 py-5 mt-1 mb-5 text-center border-bottom bg-header">
        <div class="container py-4 py-md-5" style="background-color: #d6cfc8d9;">
            <h1 class="display-4 trirong-regular-italic fw-bold text-body-emphasis">Create and Share Your Own Blog</h1>
            <div class="col-lg-8 mx-auto">
                <p class="lead mb-4 d-none d-md-block">Welcome to The Calm Corner, ultimate platform where your ideas come to life! Our web app empowers you to create, customize, and share your own blogs effortlessly. Whether you're a seasoned writer or just starting out, our intuitive tools and sleek design make it easy to showcase your stories, thoughts, and passions with the world. Start crafting your blog today and let your voice be heard!</p>
                <p class="lead mb-4 d-block d-md-none fs-6">Welcome to The Calm Corner, platform where your ideas come to life! Easily create, customize, and share blogs with intuitive tools designed for writers of all levels. Start sharing your stories today!</p>
                <div class="d-flex justify-content-sm-center mb-md-5">
                <a href="/create-blog" class="button-33 btn-lg px-md-4 me-sm-3">Get Started</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <%[...blogs].reverse().map((e,i) =>{%>
                <%if(i<3){%>
                <div style="max-width: 880px;" class="col-12 col-lg-10 offset-lg-1 d-flex flex-column align-items-center  flex-md-row<%=i%2!==0?"-reverse":""%> mb-5 mx-auto">
                    <div class="<%=i%2!==0?"ms-md-4":"me-md-4"%> mb-4 mb-md-0">
                        <a href="/blog/<%=e.id %>" target="_blank">
                            <img class="home-img" src="<%=e.thumbNail  %>" width="450" alt="<%=e.title  %>">
                        </a>
                    </div>
                    <div class="mt-md-5 mx-md-3">
                        <h2 class="trirong-light-italic"><%= e.title %></h2>
                        <p class="trirong-light-italic opacity-75 fs-6 "><%= e.content.length > 200? e.content.slice(0,e.content.lastIndexOf(" ",200))+"..." : e.content %></p>
                        <a href="/blog/<%=e.id %>" target="_blank" class="link-secondary">Read More</a>
                    </div>
                </div>
            <%}})%>
        </div>
        <div class="w-100 text-center mb-5 d-flex flex-column  align-items-center">
            <h1 class="mb-4 trirong-semibold-italic">Discover More Stories</h1>
            <a href="/blog" target="_blank" class= "rounded-pill custom-btn fs-5 py-2 px-3 px-md-4">BLOGS</a>
        </div>
        <div class="row">
            <div id="home-card" class="grid-container w-auto columns mx-auto mb-2 mb-md-5">
            <%[...blogs].reverse().map((e,i) =>{%>
                <%if(i>2 && i<6){%>
                    <a href="/blog/<%=e.id %>" class="text-decoration-none" target="_blank">
                        <div class="card mb-3 mb-md-0" style="width: 18rem;">
                            <img src="<%=e.thumbNail%>" class="card-img-top" alt="<%=e.title%>">
                            <div class="card-body">
                                <h5 class="card-title trirong-medium-italic"><%=e.title%></h5>
                            </div>
                        </div>
                    </a>
                 <%}})%>
            </div>
        </div>
    </div>
</main>
<%-include('partials/footer.ejs')  %>